body{
    margin: 0;
    padding: 0;
}

.boritokep{
    background-image: url("../image/21122358_1392847700801056_8068081303324758712_o.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.profil_img{
    position: relative;
    top: -75px;
    left: 45%;
}

#profile_kep{
    display: flex !important;
    justify-content: center !important;
    bottom: 50px;
}

.friend_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 0.5em;
}
