body{
    margin: 0;
    padding: 0;
}

.boritokep{
    background-image: url("../image/21122358_1392847700801056_8068081303324758712_o.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.profil_img{
    position: relative;
    top: -75px;
    left: 45%;
}

#profile_kep{
    display: flex !important;
    justify-content: center !important;
    bottom: 50px;
}

.friend_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 0.5em;
}

.media{
    padding: 15px !important;
}

.media + .media{
    border-top: none !important;
    margin: 0px !important;
    padding: 15px !important;
}

#message{
    cursor: pointer;
}

#message:hover{
    background-color: #ebecf0;
}

#message_box{
  height: 400px;
  overflow-y: auto;
}

 .chat-container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }

  #friend_box{
    height: 620px;
    overflow-y: auto;
  }
  
  